{
  "extends": [
    "eslint-config-airbnb-base",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint",
  "settings": {}
}
