:root {
  --colorFactorialOrange: #ff6f40;
  --colorFactorialGreen: #00c58e;
  --colorFactorialBlue: #0096db;
  --colorFactorialUltraMarine: #012954;
  --colorWhite: #fff;
  --colorBlack: #000;
}

html, body {
  color: var(--colorFactorialUltraMarine);
}

body {
  font-family: "Suisse Int'l", Helvetica, "Helvetica Neue", sans-serif;
}

.theme-container.no-sidebar {
  background-color: #012954;
  color: #fff;
}

.navbar * {
  color: #012954 !important;
}

.home .features,
.home .footer {
  border-top: 0 !important;
}

.home .feature * {
  color: rgba(255,255,255,0.8) !important;
}

.home .hero .action-button {
  background-color #ff6f40 !important;
  border-color: #ff6f40 !important;;
}
